/*
 * Copyright (c) 2025 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 * 
 * Aurora Sofle v2 Keymap with Swedish Behaviors
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_sv.h"

/ {
        // Brackets

        lbkt_lbrc: bracket_brace_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_LBKT>, <&kp SV_LBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbkt_rbrc: bracket_brace_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_RBKT>, <&kp SV_RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Comma / Dot / Semicolon / Plus

        comma_lt: comma_less {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_COMMA>, <&kp SV_LT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_gt: dot_greater {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_DOT>, <&kp SV_GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        semi_colon: semi_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_SEMI>, <&kp SV_COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        plus_equal: plus_equal {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_PLUS>, <&kp SV_EQUAL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Numbers with US-style shifted symbols

        n1_excl: n1_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N1>, <&kp SV_EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n2_at: n2_at {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N2>, <&kp SV_AT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n3_hash: n3_hash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N3>, <&kp SV_HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n4_dllr: n4_dllr {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N4>, <&kp SV_DLLR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n5_prcnt: n5_prcnt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N5>, <&kp SV_PRCNT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n6_caret: n6_caret {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N6>, <&kp SV_CARET>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n7_amps: n7_amps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N7>, <&kp SV_AMPS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n8_star: n8_star {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N8>, <&kp SV_STAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n9_lpar: n9_lpar {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N9>, <&kp SV_LPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n0_rpar: n0_rpar {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_N0>, <&kp SV_RPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Single / Double quote

        sqt_dqt: sqt_dqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_SQT>, <&kp SV_DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Slash / Question

        slash_qmark: slash_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_FSLH>, <&kp SV_QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Backslash / Tilde

        bslash_tilde: bslash_tilde {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_BSLH>, <&kp SV_TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Pound / £

        pound_pound: pound_pound {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_POUND_SIGN>, <&kp SV_POUND_SIGN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Euro / €

        euro_euro: euro_euro {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_EURO>, <&kp SV_EURO>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Micro / µ

        mu_mu: mu_mu {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_MU>, <&kp SV_MU>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC           &n1_excl  &n2_at  &n3_hash  &n4_dllr    &n5_prcnt                                  &n6_caret  &n7_amps     &n8_star     &n9_lpar  &n0_rpar         &kp BACKSPACE
&kp TAB           &kp Q     &kp W   &kp E     &kp R       &kp T                                      &kp Y      &kp U        &kp I        &kp O     &kp P            &kp SV_A_RING
&kp LSHFT         &kp A     &kp S   &kp D     &kp F       &kp G                                      &kp H      &kp J        &kp K        &kp L     &kp SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp LCTRL         &kp Z     &kp X   &kp C     &kp V       &kp B      &kp C_MUTE    &rgb_ug RGB_TOG  &kp N      &kp M        &comma_lt    &dot_gt   &slash_qmark     &kp SV_MINUS
                            &kp LGUI &kp LALT &mo 2       &lbkt_lbrc &kp SPACE    &kp ENTER        &rbkt_rbrc &trans       &sqt_dqt     &plus_equal
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RGB_BRI RGB_BRD>;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&bt BT_CLR        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &bslash_tilde  &mu_mu  &pound_pound  &euro_euro  &slash_qmark  &kp DEL
&out OUT_TOG      &trans        &trans        &trans        &trans        &trans                          &trans         &trans  &trans        &trans      &trans        &trans
&kp LSHFT         &trans        &trans        &trans        &trans        &trans                          &kp LEFT       &kp DOWN  &kp UP      &kp RIGHT   &trans        &trans
&kp LCTRL         &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans         &trans  &trans        &trans      &trans        &trans
                                              &trans        &trans        &trans        &trans    &trans  &trans         &mo 3    &trans        &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&bt BT_CLR        &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_SEL 4                                &kp F10        &kp F11  &kp F12  &euro_euro      &slash_qmark        &kp DEL
&out OUT_TOG      &trans           &kp UP_ARROW     &trans           &trans        &trans                                      &kp F7         &kp F8   &kp F9   &mu_mu          &pound_pound        &kp C_AL_SCREEN_SAVER
&kp LSHFT         &kp LEFT_ARROW   &kp DOWN_ARROW   &kp RIGHT_ARROW  &trans        &trans                                      &kp F4         &kp F5   &kp F6   &bslash_tilde   &kp UP_ARROW        &kp PRINTSCREEN
&kp LCTRL         &trans           &trans           &trans           &trans        &trans        &kp C_MUTE    &rgb_ug RGB_TOG &kp F1         &kp F2   &kp F3   &kp LEFT_ARROW  &kp DOWN_ARROW      &kp RIGHT_ARROW
                                   &trans           &trans           &trans        &trans        &trans        &trans          &trans         &trans   &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RGB_BRI RGB_BRD>;
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = <
&bt BT_CLR &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4                         &trans &trans &trans &trans &trans &sys_reset
&trans     &rgb_ug RGB_TOG   &rgb_ug RGB_HUI   &rgb_ug RGB_SAI   &rgb_ug RGB_BRI &rgb_ug RGB_SPI                   &trans &trans &trans &trans &trans &trans
&trans     &rgb_ug RGB_EFF   &rgb_ug RGB_HUD   &rgb_ug RGB_SAD   &rgb_ug RGB_BRD &rgb_ug RGB_SPD                   &trans &trans &trans &trans &trans &trans
&trans     &trans            &trans            &trans            &trans       &trans       &trans   &trans          &trans &trans &trans &trans &trans &bootloader
                             &trans            &trans            &trans       &trans       &trans   &trans          &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp RGB_BRI RGB_BRD &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <20>;
    };
};
