manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 73ca365530bc79d03dc64d89adc03b4ccbeeb14e
      import: app/west.yml
  self:
    path: config
